<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AccountBank"
        android:exported="true"
        tools:targetApi="31">

        <!-- SMS 리시버 등록 -->
        <receiver
            android:name=".receiver.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- RCS 리시버 등록 -->
        <receiver
            android:name=".receiver.RCSReceiver"
            android:permission="com.samsung.rcs.permission.RCS_APP_PERMISSION"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="com.samsung.rcs.framework.instantmessaging.category.ACTION"/>
                <category android:name="com.samsung.rcs.framework.instantmessaging"/>
                <action android:name="com.samsung.rcs.framework.instantmessaging.action.RECEIVE_CHAT_INVITATION"/>
                <action android:name="com.samsung.rcs.framework.instantmessaging.action.RECEIVE_PARTICIPANT_INSERTED"/>
                <action android:name="com.samsung.rcs.framework.instantmessaging.action.RECEIVE_PARTICIPANT_UPDATED"/>
            </intent-filter>
        </receiver>

        <!-- 푸시 알림 리시버 등록 -->
        <receiver
            android:name=".receiver.PushNotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.redhorse.accountbank.PUSH_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

    </application>

    <!-- 권한 요청 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- Android 13 이상의 경우 푸시 알림 권한 추가 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Android RCS Message 권한-->
    <uses-permission android:name="com.samsung.rcs.im.READ_PERMISSION"/>
</manifest>
